$$UNIVERSIDAD\hspace{1mm} AUTÓNOMA\hspace{1mm} DE\hspace{1mm} NUEVO\hspace{1mm} LEÓN $$$$Facultad\hspace{1mm}  de\hspace {1mm}Ciencias\hspace{1mm} Físico-Matemáticas $$$$Ejercicios\hspace{1mm}de\hspace{1mm}Python\hspace{1mm}Básicos\hspace{1mm} $$$$Minería\hspace{1mm}de\hspace{1mm}Datos$$$$\hspace{1mm}$$


###### Gloria Nohemí Martínez Jiménez 1805800

#### EJERCICIO 1 ####

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
Matricula=1805800
print("Gloria Nohemí Martínez Jiménez",str(Matricula))

#### EJERCICIO 2####

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [2]:
n1 = int(input("Introduce un número:  " ))
n2 = int(input("Introduce otro número: "))

print("\n 1:Suma")
print("\n 2:Resta")
print("\n 3:Multiplicación")
print("\n 4:División")
print("\n 5:Exponente")

Operacion=int(input("\n¿Qué operación quieres realizar?  "))
if Operacion==1:
    print("\nEl resultado de la suma es:"+str(n1+n2))
elif Operacion==2:
    print("\nEl resultado de la resta es:"+str(n1-n2))
elif Operacion==3:
    print("\nEl resultado de la multiplicación  es:"+str(n1*n2))
elif Operacion==4:
    print("\nEl resultado de la división es:"+str(n1/n2))
elif Operacion==5:
    print("\nEl resultado del expotente es: "+str(n1**n2))
else: print("Opción no válida")

Introduce un número:  2
Introduce otro número: 2

 1:Suma

 2:Resta

 3:Multiplicación

 4:División

 5:Exponente

¿Qué operación quieres realizar?  1

El resultado de la suma es:4

#### EJERCICIO 3 ####

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [3]:
list= []
for i in range(0,30,3):
    list.append(3+i)
print(list)

suma=0
for dato in list:
    suma=suma+dato
    
print("La suma de los elementos de la lista es",str(suma))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma de los elementos de la lista es 165

#### EJERCICIO 4 ####

- Con una función de if else, revisar si un número es par o es impar.

In [4]:
numero= int(input("Introduce un número:  " ))
if numero%2==0:
    print("El número es par")
else:
    print("El número es impar")

Introduce un número:  2
El número es par

- Con una función de if else, revisar si un número es primo o no.

In [5]:
numero= int(input("Introduce un número:  " ))
x=0
for i in range(2,numero-1):
    if numero%i==0:
        x=1
if x==0:
    print("El número es primo")  
else:
    print("El número NO es primo")

Introduce un número:  29
El número es primo

#### EJERCICIO 5 ####

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [6]:
#https://parzibyte.me/blog/2019/06/30/clases-constructores-python-poo/
class calculadora():
    def __init__(self):
        self.numero1=0
        self.numero2=0
        self.resultado=0
        
    def datos(self):
        self.numero1=int(input("Introduce un número:  " ))
        self.numero2=int(input("Introduce un número:  " ))      

        
class suma(calculadora):
    
    def __init__(self):
        super().__init__()
        
    def sum(self):
        resultado=self.numero1+self.numero2
        self.resultado=resultado
        
class resta(calculadora):
      
    def __init__(self):
        super().__init__()
        
    def res(self):
        resultado=self.numero1-self.numero2
        self.resultado=resultado
        
class multiplicacion(calculadora):
     
    def __init__(self):
        super().__init__()
        
    def mul(self):
        resultado=self.numero1*self.numero2
        self.resultado=resultado
        
class division(calculadora):
     
    def __init__(self):
        super().__init__()
        
    def div(self):
        resultado=self.numero1/self.numero2
        self.resultado=resultado
        
class exponente(calculadora):
    
    def __init__(self):
        super().__init__()
        
    def exp(self):
        resultado=self.numero1**self.numero2
        self.resultado=resultado

In [7]:
print("\n 1:Suma")
print("\n 2:Resta")
print("\n 3:Multiplicación")
print("\n 4:División")
print("\n 5:Exponente")

Operacion=int(input("\n¿Qué operación quieres realizar?  "))
if Operacion==1:
    x=suma()
    x.datos()
    x.sum()
    print("\nEl resultado de la suma es:"+str(x.resultado))
elif Operacion==2:
    x=resta()
    x.datos()
    x.res()
    print("\nEl resultado de la resta es:"+str(x.resultado))
elif Operacion==3:
    x=multiplicacion()
    x.datos()
    x.mul()
    print("\nEl resultado de la multiplicación  es:"+str(x.resultado))
elif Operacion==4:
    x=division()
    x.datos()
    x.div()
    print("\nEl resultado de la división es:"+str(x.resultado))
elif Operacion==5:
    x=exponente()
    x.datos()
    x.exp()
    print("\nEl resultado del expotente es: "+str(x.resultado))
else: print("Opción no válida")

 1:Suma

 2:Resta

 3:Multiplicación

 4:División

 5:Exponente

¿Qué operación quieres realizar?  2
Introduce un número:  3
Introduce un número:  1

El resultado de la resta es:2

### Ejercicios con estructuras básicas de python.

#### Tuplas
- Crear una variable flotante, integer, booleana y compleja e imprimir el tipo de variable que es.

In [8]:
flotante=1.50
type(flotante)

float

In [9]:
Entero=5
type(Entero)

int

In [10]:
Booleana=True
type(Booleana)

bool

In [11]:
Compleja=2*(-1)**(1/2)+2
type(Compleja)

complex

- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [3]:
tupla=(1,2,3,4,5,6)
print("El primer valor de la tupla es",tupla[0])
print("El último valor de la tupla es",tupla[-1])

El primer valor de la tupla es 1
El último valor de la tupla es 6

- Añadir 3 valores de string a la tupla.

Las tuplas son inmutables pero podemos convertir la tupla en una lista para poder agregar los nuevos datos y después regresarla a tupla.

In [4]:
conversion=list(tupla)
conversion.append("arbol")
conversion.append("barco")
conversion.append("casa")
tupla=tuple(conversion)
tupla

(1, 2, 3, 4, 5, 6, 'arbol', 'barco', 'casa')

- Verificar si una variable existe dentro de la tupla.

Usamos el método count para contar cuantas veces esta el elemento en la tupla,
si es 0 sabremos que ese elemento no se encuentra en la tupla.

In [5]:
tupla.count(20)

0

#### Listas
- Crear una lista con 40 elementos aleatorios enteros.

In [6]:
from random import sample 
lista=sample(range(1,100),40)
print(lista)

[11, 5, 4, 56, 73, 41, 74, 70, 90, 24, 19, 50, 22, 80, 54, 49, 10, 13, 65, 27, 66, 25, 77, 23, 87, 71, 75, 95, 31, 67, 76, 84, 64, 81, 17, 59, 57, 16, 29, 1]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [7]:
def paresimpares(numeros):
    pares=[]
    impares=[]
    for elemento in numeros:
        if(elemento%2==0):
            pares.append(elemento)
        else:
            impares.append(elemento)
    return pares,impares

In [8]:
pares,impares=paresimpares(lista)
print(pares)
print(impares)

[4, 56, 74, 70, 90, 24, 50, 22, 80, 54, 10, 66, 76, 84, 64, 16]
[11, 5, 73, 41, 19, 49, 13, 65, 27, 25, 77, 23, 87, 71, 75, 95, 31, 67, 81, 17, 59, 57, 29, 1]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [9]:
x=len(pares)
y=len(impares)
print("La longitud de la lista pares es",x)
print("La longitud de la lista impares es",y)

La longitud de la lista pares es 16
La longitud de la lista impares es 24

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [10]:
pares=sorted(pares,reverse=True)
print("Lista pares ordenada de mayor a menor:",pares)
impares=sorted(impares)
print("Lista impares ordenada de menor a mayor",impares)

Lista pares ordenada de mayor a menor: [90, 84, 80, 76, 74, 70, 66, 64, 56, 54, 50, 24, 22, 16, 10, 4]
Lista impares ordenada de menor a mayor [1, 5, 11, 13, 17, 19, 23, 25, 27, 29, 31, 41, 49, 57, 59, 65, 67, 71, 73, 75, 77, 81, 87, 95]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

_Operaciones matemáticas en las listas_

In [11]:
nuevalista=lista*2
print(nuevalista)

[11, 5, 4, 56, 73, 41, 74, 70, 90, 24, 19, 50, 22, 80, 54, 49, 10, 13, 65, 27, 66, 25, 77, 23, 87, 71, 75, 95, 31, 67, 76, 84, 64, 81, 17, 59, 57, 16, 29, 1, 11, 5, 4, 56, 73, 41, 74, 70, 90, 24, 19, 50, 22, 80, 54, 49, 10, 13, 65, 27, 66, 25, 77, 23, 87, 71, 75, 95, 31, 67, 76, 84, 64, 81, 17, 59, 57, 16, 29, 1]

_Remover elementos_

In [12]:
print(len(lista))
lista.pop(0)
print(len(lista))
print(lista)

40
39
[5, 4, 56, 73, 41, 74, 70, 90, 24, 19, 50, 22, 80, 54, 49, 10, 13, 65, 27, 66, 25, 77, 23, 87, 71, 75, 95, 31, 67, 76, 84, 64, 81, 17, 59, 57, 16, 29, 1]

_Recortar una lista_

In [13]:
lista[0:10]

[5, 4, 56, 73, 41, 74, 70, 90, 24, 19]

_Insertar en una lista_

In [14]:
lista.insert(0,100)
print(lista)

[100, 5, 4, 56, 73, 41, 74, 70, 90, 24, 19, 50, 22, 80, 54, 49, 10, 13, 65, 27, 66, 25, 77, 23, 87, 71, 75, 95, 31, 67, 76, 84, 64, 81, 17, 59, 57, 16, 29, 1]

_Invertir una lista_

In [15]:
lista.reverse()
print(lista)

[1, 29, 16, 57, 59, 17, 81, 64, 84, 76, 67, 31, 95, 75, 71, 87, 23, 77, 25, 66, 27, 65, 13, 10, 49, 54, 80, 22, 50, 19, 24, 90, 70, 74, 41, 73, 56, 4, 5, 100]

_Funciones agregadas_

In [16]:
#https://likegeeks.com/es/funciones-de-listas-de-python/#Funciones-agregadas
print("El valor mínimo de la lista es",min(lista))

print("El valor máximo de la lista es",max(lista))

print("La suma de los elementos de la lista es",sum(lista))

El valor mínimo de la lista es 1
El valor máximo de la lista es 100
La suma de los elementos de la lista es 2027

#### Diccionarios
- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [17]:
diccionario={"Karina":20,"Oscar":25,"Margarita":20,"Johnathan":22,"Gabriel":21,"Abi":20,}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [18]:
Edades=list(diccionario.values())
print(Edades)
sorted(Edades)

[20, 25, 20, 22, 21, 20]

[20, 20, 20, 21, 22, 25]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [20]:
for nombre in diccionario.keys():
    print(nombre)

Karina
Oscar
Margarita
Johnathan
Gabriel
Abi

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [21]:
diccionario["Tania"]=20
diccionario["Alejandro"]=20
print(diccionario)

{'Karina': 20, 'Oscar': 25, 'Margarita': 20, 'Johnathan': 22, 'Gabriel': 21, 'Abi': 20, 'Tania': 20, 'Alejandro': 20}

#### Sets
- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [24]:
import random as r
SET=set()
for i in range(100):
    SET.add(r.randint(1,25))

- Comprueba la longitud de tu set.

In [25]:
len(SET)

25

Por ser un set no permite valores repetidos, por lo que únicamente se guardaron 25 valores.

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [29]:
lista5=[]
for i in range(5):
    lista5.append(r.randint(1,10))
print(lista5)

for elemento in lista5:
    print(elemento in SET)

[10, 8, 9, 5, 2]
True
True
True
True
True

Todos los valores se encuentran en el set.